

@font-face {
  font-family: NationalPark;
  src: url('NationalPark-VariableVF.woff');
}

/* ALL FOREGROUND ITEMS! */

body {
  background: url('trees.jpg'), linear-gradient(#495d4e, #83A88D, #FBFF4F);
  background-blend-mode: darken;
  font-family: NationalPark;
  color: #f0f0f2;

}

main {
  display: flex;
  flex-direction: column;
}

/* HEADER SECTION OF PAGE */

h1 {
  font-size: 50px;

  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;

}

a {
  color: #f0f0f2;
  text-decoration: none;
}
a:hover {
  color: #FBFF4F;
}

h3:hover {
  color: #FBFF4F;
}

  .headerbg {
    background: rgb(73, 93, 78, .1);
    width: 100%;
    height: 105px;
    border-radius: 25px;

  }

  .headerfg {
    background: rgb(107,140,73,.1);
    width: 99%;
    height: 100px;
    border-radius: 15px;
    z-index: +1;
  }


/* MIDDLE SECTION OF PAGE */


.middle {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

/* LEFT OUTSIDE LINKS DASHBOARD */

#dash {
  text-align: center;
  padding-top: 50px;

}
  .socials {
    list-style: none;
    padding-top: 30px;
  }

  .links {
    /* Not necessary? */
  }

   .linksbg {
    background: rgb(73, 93, 78, ..1);
    width: 150px;
    height: 400px;
    border-radius: 15px;

  }

  .linksfg {
    background: rgb(107,140,73,.1);
    width: 145px;
    height: 395px;
    border-radius: 15px;

  }

/* RIGHT SIDE PHOTO CAROUSEL */

.photolinks {
   /* Not necessary? */
}

  .carouselbg {
    background: rgb(73, 93, 78, .1);
    width: 502px;
    height: 335px;

  }

  .carouselfg {
    width: 500px;
    height: 262px;

  }

img {
  max-width: 100%;
  height: auto;
}

/* CAROUSEL MODAL */

/* #openCarousel {
  color: none;
} */

#carouselModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
  #carouselContent {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  }

/* MAIN NAV LINKS */

.main_links {
  text-align: center;
  padding-top: 15px;
}


.webpagelinks {
 margin-top: 40px;
}

  .link_1_bg {
    background: rgb(73, 93, 78, .1);
    width: 505px;
    height: 55px;
    border-radius: 25px;

  }

  .link_1_fg {
    background: rgb(107,140,73,.1);
    width: 500px;
    height: 50px;
    border-radius: 25px;

  }

.webpagelinks2 {
 margin-top: 40px;
}

  .link_2_bg {
    background: rgb(73, 93, 78, .1);
    width: 505px;
    height: 55px;
    border-radius: 25px;

  }

  .link_2_fg {
    background: rgb(107,140,73,.1);
    width: 500px;
    height: 50px;
    border-radius: 25px;

  }

  .webpagelinks3 {
   margin-top: 40px;
  }

    .link_3_bg {
      background: rgb(73, 93, 78, .1);
      width: 505px;
      height: 55px;
      border-radius: 25px;

    }

    .link_3_fg {
      background: rgb(107,140,73,.1);
      width: 500px;
      height: 50px;
      border-radius: 25px;

    }

/* FOOTER SECTION OF PAGE */

button {
  font-family: NationalPark;
  font-size: 1em;
  color: #f0f0f2;
  text-decoration: none;
  border: none;
  background: rgb(107,140,73,.1);
}

button:hover {
  color: #FBFF4F;
}

#foot_nav {
  list-style: none;
  text-align: center;
  padding-top: 5px;
}

.nav {
  display: inline;
  padding-right: 80px;

}

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
}

  .footerbg {
   background: rgb(73, 93, 78, .1);
   width: 100%;
   height: 35px;
   margin-left: 0;
   border-radius: 15px;

  }

  .footerfg {
   background: rgb(107,140,73,.1);
   width: 99%;
   height: 30px;
   border-radius: 15px;

  }


/* CONTACT MODAL BOX */

  #contactList {
    text-align: center;
    list-style: none;
    font-weight: bold;
    padding-top: 10px;
  }

  #close {
    color: black;
  }

  #modalh2 {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    color: #f0f0f2;
    font-size: 52px;
  }

  #contactModal {
    background-color: rgba(0,0,0,0.4);
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 1;
  	overflow: auto;
  	display: none;
  }
    #modalContent {
      background-image: url('modalsign.jpg');
    	height: 350px;
    	width: 550px;
    	border-radius: 2px;
    	margin: 150px auto;
    	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    }


/* PHOTO CREDIT */

  #credit {
    color: ivory;
    text-align: right;
  }

  .name {
    color: ivory;
  }

/* MEDIA QUERY RESPONSIVE DESIGN */

  @media (max-width: 693px) {
    .middle {
      display: flex;
      flex-direction: column;
    }
    .links {
      align-self: center;
      margin-bottom: 30px;
    }
    .carouselbg {
      width: 445px;
      height: 280px;
    }
    .carouselfg {
      width: 440px;
      height: 275px;
    }
    .link_1_bg {
      width: 445px;
    }
    .link_1_fg {
      width: 440px;
    }
    .link_2_bg {
      width: 445px;
    }
    .link_2_fg {
      width: 440px;
    }
    .link_3_bg {
      width: 445px;
    }
    .link_3_fg {
      width: 440px;
    }
    .nav {
      padding-right: 10px;
    }

  }
